/* === Parte Principal === */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.mainDiv {
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

/* === Popup Windown */

.popup {
    visibility: hidden;
    position: fixed;
    top: 25%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    border: 1px solid #898889;
    border-radius: 25px;
    background-color: white;
}

.popupContent {
    text-align: center;
    padding: 5px 0;
}

.popupCloseButton {
    width: 100%;
    display: flex;
    justify-content: center;
}

.popupCloseButtonIcon:hover {
    cursor: pointer;
}

/* === Logo do Sistema === */

.logo {
    margin-top: 10px;
}
.logoimage {
    width: 250px;
    height: 250px;
}

/* === Formularios === */

.mainForms {
    display: flex;
    flex-direction: row;
    padding: 15px;
    width: 50%;
    height: 33%;
    margin-top: 5%;
    margin-left: 5%;
    align-items: center;
    justify-content: space-around;
}


.accessForms {
    display: flex;
    flex-direction: row; /* Mudei de 'column' para 'row' */
    padding: 10px 5px;
    border-radius: 25px;
    text-align: left;
    justify-content: space-evenly;
    position: relative;
    transition: 3s ease, transform 3s ease;
    margin: 0;
}

.loginForm {
    display: flex;
    background-color: #292929;
    width: 45%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    color: #a2a2a2;
    font-size: 18px;
    border: 1px solid #515151;
    margin: 0;
}

.signupForm {
    display: flex;
    background-color: #292929;
    width: 45%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    color: #a2a2a2;
    font-size: 18px;
    border: 1px solid #515151;
    margin: 0;
}

#loginSubmit{
    border: 1px solid white;
    border-radius: 25px;
    background-color: black;
    color: white;
    padding: 10px;
}

#signupSubmit{
    border: 1px solid white;
    border-radius: 25px;
    background-color: black;
    color: white;
    padding: 10px;
}

input{
    background: transparent;
    border: none;
    outline: none;
    border-bottom:solid 1px white;
    padding-top: 5px;
    margin-bottom: 10px;
}

.selectedSignup {
    background-color: blueviolet;
    transform: translateX(-50%);
    z-index: 1;
}

.selectedLogin {
    background-color: blueviolet;
    transform: translateX(50%);
    z-index: 1;
}