/*
Roxo: #6C00D7
Roxo Escuro: #7100C7
Branco: #EDEDF5
Cinza: #424344
Cinza Claro: #5F6162
*/

/* === Parte Principal === */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.mainDiv {
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

/* === Popup Windown */

.popup {
    visibility: hidden;
    position: fixed;
    bottom: 5px;
    background-color: #6C00D7;
    padding: 20px;
    max-width: 600px;
    border: 1px solid #7100C7;
    border-radius: 25px;
    color: #EDEDF5;
    font-weight: bold;
}

.popupContent {
    text-align: center;
    padding: 5px 3px;
}

.popupCloseButton {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #7100C7;
    margin-bottom: 3px;
}

.popupCloseButtonIcon:hover {
    cursor: pointer;
}

/* === Logo do Sistema === */

@font-face {
    font-family: "fonte-da-logo";
    src: url("../assets/fonts/Billion Dreams.ttf");
}

.logo {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    width: 100%;
}
.logotitle {
    display: flex;
    flex-direction: column;
    color: #EDEDF5;
    font-family: fonte-da-logo;
}
.logoimage {
    width: 200px;
    height: 200px;
}
.logoname {
    font-size: 75px;
}
.logomoto {
    font-size: 25px;
}

/* === Formularios === */

/* Div que guarda os forms*/
.mainForms {
    display: flex;
    flex-direction: row;
    padding: 15px;
    width: 80%;
    height: 38%;
    margin-top: 5%;
    align-items: center;
    justify-content: space-around;
}

.formTitle {
    color: #EDEDF5;
}

/* Classe Comum para Ambos os Forms */
.accessForms {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #EDEDF5;
    text-align: center;
    font-family: fantasy;
    border: 1px solid;
    width: 30%;
    height: 100%;
    justify-content: center;
    padding: 5px;
    border-radius: 16px;
    background-color: #424344;
    font-size: 18px;
}

.accessForms input, .accessForms input:focus, .accessForms input:active{
    background: transparent;
    border: none;
    outline: none;
    border-bottom:solid 1px #EDEDF5;
    color: #EDEDF5;
    padding-top: 5px;
    margin-bottom: 15px;
    font-size: 14px;
    font-family: fantasy;
}

.accessForms input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #6C00D7 inset;
    -webkit-text-fill-color: #EDEDF5 !important;
}

.accessForms button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 10%;
    margin: 5px 0;
    border-radius: 15px;
}

.accessForms button:hover {
    cursor: not-allowed;
}

/* Classe para um Form selecionado */

.selectedForm {
    background-color: #6C00D7;
    border: #7100C7 4px solid;
}

.selectedForm button {
    border-color: #7100C7;
    color: #6C00D7;
}

.selectedForm button:hover {
    cursor: pointer;
}

.selectedForm button:disabled:hover{
    cursor: not-allowed;
}

/* Classe para Button desativado #Prioridade# */

.accessForms button:disabled {
    border: 1px solid #424344;
    color: #424344;
    background-color: #5F6162;
}