:root {
    --roxo-claro: #6C00D7;
    --roxo-escuro: #7100C7;
    --branco: #EDEDF5;
    --cinza: #333333;
    --cinza-claro: #5F6162;
    --cinza-mais-escuro: #141414;
    --preto: #000000;
    --transparente: #ffffff00;
  }
/* === Parte Principal === */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.mainDiv {
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
}

.leftSide {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.rightSide {
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
}

/* === Popup Windown */

.popup {
    visibility: hidden;
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: #6C00D7;
    padding: 20px;
    max-width: 400px;
    border: 1px solid #7100C7;
    border-radius: 25px;
    color: #EDEDF5;
    font-weight: bold;
}

.popupContent {
    text-align: center;
    padding: 5px 3px;
}

.popupCloseButton {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #7100C7;
    margin-bottom: 3px;
}

.popupCloseButtonIcon:hover {
    cursor: pointer;
}

/* === Sidebar === */

.sideBar {
    display: none;
    visibility: hidden;
    color: #EDEDF5;
    width: 20%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #424344;
    justify-content: space-between;
    font-size: larger;
    font-weight: 600;
    border-right: 1px solid #7100C7;
}

.sideBarButton {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 45px;
    font-size: 25px !important;
}

.sideBarButton:hover {
    cursor: pointer;
    color: #6C00D7;
}

.openSideBar {
    display: flex;
    visibility: visible;
}

.sideBarOption {
    display: flex;
    padding: 5px 0;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.sideBarOption > span {
    margin-right: 5px;
}

.sideBarOption:hover {
    color: #6C00D7;
    cursor: pointer;
}

.sideBarLinks {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.sideBarUsername {
    padding: 10px 0;
}

.sideBarUsername:hover {
    color:#6C00D7;
    cursor: pointer;
}

/* === Lado Esquerdo === */

/* Info do User */
.userInfo {
    background-color: hsl(0deg 5.88% 93.33%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 60%;
    height: 45px;
    font-size: larger;
    margin: 0 0 30px 0;
}

.userlevel {
    width: 100%;
    text-align: center;
    font-size: larger;
    font-family: fangsong;
}

/* Lista de Musicas */

.musicList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.musicModel {
    background-color: #424344;
    color: #EDEDF5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 10px 0;
    height: 60px;
    border: 3px solid #EDEDF5;
    border-radius: 30px;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.musicModel:hover {
    width: 100%;
    color: #6C00D7;
    background-color: #EDEDF5;
    border-color: #6C00D7;
}

/* Partes da Lista */

.musicBasicInfo {
    margin: 3px 20px;
    width: 100%;
}

.musicName {
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: fantasy;
}
.musicBasicInfo:hover {
    cursor: pointer;
}

.playButtonArea {
    margin: 3px 20px;
    font-size: x-large !important;
    font-weight: 900 !important;
}

.playButton {
    font-size: 30px !important;
}

.playButton:hover {
    cursor: pointer;
}

/* Indisponivel */

.unavailableMusic {
    color: #5F6162;
    border-color: #5F6162;
}

.unavailableMusic:hover {
    background-color: #EDEDF5;
    color: #424344;
    border-color: #424344;
}

/* === Lado Direito === */

/* Musica Selecionada */

.selectedMusicInfo{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.selectMusicCoverImage{
    width: 225px;
    height: 225px;
    object-fit: contain;
    border-radius: 100%;
}

.musicInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #EDEDF5;
    background-color: #424344;
    height: 90px;
    width: 100%;
    margin: 40px 0;
    justify-content: space-evenly;
    border-radius: 35px;
    border: 1px solid #7100C7;
}

.musicArtist {
    font-size: x-large;
    font-weight: bolder;
}

  /* === levelUp ===*/
  .levelUpArea {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 500;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
  }

  .levelUpDiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 15px;
    max-width: 400px;
    max-height: 200px;
    min-height: 100px;
    min-width: 200px;
    background-color: var(--cinza-mais-escuro);
    border: 3px solid var(--roxo-escuro);
    border-radius: 25px;
    color: var(--branco);
  }

  .levelUpContent {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .levelUpClose {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    text-align: center;
    width: 100px;
    height: 30px;
    border: 1px solid var(--roxo-escuro);
    background-color: var(--cinza-claro);
    font-weight: bold;
    border-radius: 15px;
  }

  .levelUpClose:hover {
    cursor: pointer;
    background-color: var(--branco);
    color: var(--roxo-claro);
  }

  .levelUpInactive {
    display: none;
  }