/* === Parte Principal === */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.mainDiv {
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
}

.leftSide {
    background-color: hsl(0deg 0% 0%);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.rightSide {
    display: flex;
    background-color: hsl(0deg 0% 0%);
    width: 40%;
    flex-direction: column;
    align-items: center;
}

/* === Sidebar === */

.sideBar {
    display: none;
    visibility: hidden;
    color: white;
    width: 25%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #494949;
    justify-content: space-between;
    font-size: larger;
    font-weight: 600;
    border-right: 1px solid cadetblue;
}

.sideBarButton:hover {
    cursor: pointer;
}

.openSideBar {
    display: flex;
    visibility: visible;
}

.sideBarOption {

display: flex;

padding: 5px 0;

flex-direction: row;

align-items: center;

flex-wrap: nowrap;

justify-content: flex-start;
}

.sideBarOption > span {
    margin-right: 5px;
}

.sideBarLinks {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.sideBarUsername {

padding: 10px 0;
}

/* === Lado Esquerdo === */

/* Info do User */
.userInfo {
    background-color: hsl(0deg 5.88% 93.33%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 60%;
    height: 45px;
    font-size: larger;
    margin: 0 0 30px 0;
}

.sideBarButton {
    
display: flex;
    
align-items: center;
    
flex-direction: row;
    
justify-content: center;
    
height: 45px;
}

.userlevel {

width: 100%;

text-align: center;

font-size: larger;

font-family: fangsong;
}

/* Lista de Musicas */

.musicList {
    background-color: hsl(0deg 0% 0%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.musicModel {
    
background-color: #494949;
    
color: white;
    
display: flex;
    
flex-direction: row;
    
align-items: center;
    
justify-content: space-between;
    
width: 80%;
    
margin: 10px 0;
    
height: 60px;
    
border: 3px solid antiquewhite;
    
border-radius: 30px;
    
border-left: none;
    
border-top-left-radius: 0;
    
border-bottom-left-radius: 0;
}

.musicModel:hover {
    width: 100%;
    color: black;
    background-color: white;
    border-color: black;
}

/* Partes da Lista */

.musicName {
    
margin: 3px 20px;
    
font-size: larger;
    
width: 100%;
    
height: 100%;
    
display: flex;
    
align-items: center;
    
justify-content: flex-start;
    
font-family: fantasy;
}
.musicName:hover {
    cursor: pointer;
}

.playButtonArea {
    margin: 3px 20px;
}

.playButton {
    font-size: larger;
    font-weight: 900;
}

.playButton:hover {
    cursor: pointer;
}

/* Indisponivel */

.unavailableMusic {
    border-color: rgb(255 255 255);
    color: rgb(141 141 141);
    border-color: #898889;
}

.unavailableMusic:hover {
    background-color: rgb(213 213 213);
}

/* === Lado Direito === */

.selectedMusicInfo{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.selectMusicCover {
}

.selectMusicCoverImage{
    width: 225px;
    height: 225px;
    object-fit: contain;
    border-radius: 100%;
}

.musicInfo {

display: flex;

flex-direction: column;

align-items: center;

color: white;

background-color: hsl(0deg 0% 23.14%);

height: 90px;

width: 100%;

margin: 40px 0;

justify-content: space-evenly;

border-radius: 35px;
}

.musicArtist {

font-size: x-large;

font-weight: bolder;
}

.userMaxPoints {

}