.mainDiv {
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.leftSide {
    background-color:lightcoral;
    width: 60%;
}

.userInfo {
    background-color: lightgreen;
}

.musicList {
    
background-color: brown;
    
display: flex;
    
flex-direction: column;
    
align-items: flex-start;
    
justify-content: center;
}

.musicModel {
    
background-color: lightgray;
    
display: flex;
    
flex-direction: row;
    
align-content: center;
    
align-items: center;
    
justify-content: space-between;
}

.unavailableMusic {
    color: red;
    background-color: lightpink;
}

.musicName {
    
margin: 3px 20px;
}
.musicName:hover {
    cursor: pointer;
}

.playButton {
    
margin: 3px 20px;
}
.playButton:hover {
    cursor: pointer;
}

.rightSide {
    display: flex;
    background-color: yellow;
    width: 40%;
    flex-direction: column;
    align-items: center;
}

.selectMusicCover {

}

.selectMusicCoverImage{
    width: 150px;
    height: 150px;
}

.musicInfo {

}

.musicArtist {

}

.userMaxPoints {

}