:root {
    --roxo-claro: #6C00D7;
    --roxo-escuro: #7100C7;
    --branco: #EDEDF5;
    --cinza: #333333;
    --cinza-claro: #5F6162;
    --cinza-mais-escuro: #141414;
    --preto: #000000;
    --transparente: #ffffff00;
  }

/* === Parte Principal === */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--preto);
}

.mainDiv {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
}
    
.leftDiv {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--roxo-claro);
    color: var(--branco);
    margin: 10px 25px;
    border: 1px solid var(--roxo-escuro);
    border-radius: 25px;
    overflow: hidden;
}
    
.rightDiv {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--transparente);
    margin: 10px 0px;
}

/* === Sidebar === */

.sideBar {
    display: none;
    visibility: hidden;
    margin-left: 25px;
    color: var(--branco);
    width: 15%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background-color: var(--cinza);
    justify-content: space-between;
    font-size: larger;
    font-weight: 600;
    border-left: 1px solid var(--roxo-escuro);
}

.sideBarButton:hover {
    cursor: pointer;
}

.openSideBar {
    display: flex;
    visibility: visible;
}

.sideBarOption {
    display: flex;
    padding: 5px 0;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.sideBarOption:hover{
    color: var(--roxo-claro);
    cursor: pointer;
}

.sideBarOption > span {
    margin-right: 5px;
}

.sideBarLinks {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    text-align: center;
}

.sideBarUsername {
    padding: 10px 0;
}
.sideBarUsername:hover {
    color: var(--roxo-claro);
    cursor: pointer;
}

/* === Capa e Ranking === */

/* Capa da Música */

.musicCover {
    border-radius: 25px;
    overflow: hidden;
}
.musicCoverImage {
    width: 100%;
}

/* Ranking de Pontos */

.ranking {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 10%;
}

.posicaoRanking {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 3px 0px;
    width: 100%;
}

.posicaoUsername {
    text-align: center;
    border-bottom: 1px solid var(--branco);
}

.posicaoPontuacao {
    text-align: center;
}

/* === Youtube Video === */

.youtubePlayer {
    width: 100% !important;
    height: 100% !important;
}

.youtubeFrame {
    width: 100%;
    height: 80%;
    border-radius: 25px;
}

/* === Play Area === */

.playArea{
    margin: 15px 0;
    display: flex;
    width: 60%;
    height: 20%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--cinza);
    font-size: large;
    border-radius: 25px;
    border: 1px solid var(--roxo-escuro);
}

.playOptions {
    margin: 0 25px;
}

.playButton {
    display: flex;
    height: 100%;
    width: 50%;
    color: var(--branco);
    align-content: center;
}

.playButtonIcon {
    font-size: 90px !important;
}

.playButtonIcon:hover {
    cursor: pointer;
    color: var(--roxo-claro);
    font-size: 100px !important;
}

/* Info das Musicas */

.musicInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: var(--branco);
}

.musicTitle {
    font-weight: bolder;
}